<!-- project from Ruby with Sinatra basics -->
<!-- 20211014 blh -->

    <h1><%= @the_title %></h1>

    <p><%= @the_contents %></p>
    <p><%= @the_contents.encoding %></p>
    <p><%= @the_contents.encode("ISO-8859-1") %></p>

    <div>
      <a href="/<%= @the_title %>/edit">Edit This Page</a>
      <form method="post" action="/<%= @the_title %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </div>

    <a href="/">Back</a>
